.left-menu
    font-size: 15px
    width: 300px
    .container
        padding: .5em
        margin: auto

    .category
        display: flex
        align-content: center
        align-items: center
        gap: 1.4em
        padding-right: 1em
        border: solid $border-color
        border-width: 0 0 1px

        img
            width: 65px
            border: 4px
            object-fit: cover
            margin-left: 12px

.display
    background-color: #F9F9FB
    padding: 1em 
    .d1
        font-size: 1.2em
